#maincontainer{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.input-group{
    min-height: 75px;
}
button{
    min-width: 75px;
}
.row{
    width: 100vw;
}
.input-group{
    display: flex;
    justify-content: center;
}
.decimalbutton{
    min-width: 120px;
}
.square{
    width: 100px;
    border-radius: 5px;
    text-align:center;
    
    
    position: fixed;
    top: 10px;
}
#themebutton{
    right: 10px;
}
#modebutton{
    left: 10px;
}
